.historySection{
    /* height: 474px; */
    /* background-color: cadetblue; */
    width: 100% !important;
    justify-self: center;
    /* background-color:rgb(208, 220, 243); */
    background-image: url("background.png");
}
/* .historyHeading{
    text-align: center;
} */
.card .card-image .card-title {
    color: black;
    font-weight: bold;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 10px;
    
    
}
.history-row{
    width: 48%;
}
.centerTitle{
    text-align:center;
}
.imageControl{
    width: 40vw !important;
    height: 400px !important;
}
.colorchange{
    color:#2b7299;
}
@media screen and (max-width: 1000px) {
    .history-row{
        width: 95% ;
    }
    .imageControl{
        width: 90vw !important;
    }
    .flex{
        padding: 0 20px;
        margin: 10px;
        
        
    }
}

